.ChatMain
  .ChatMain__header
    .ChatMain__headerLeft
      .ChatMain__groupName
        = @group.name
      .ChatMain__memberName
        member : 
        %span
          - @group.users.each do |user|
            = user.name

    .ChatMain__headerRight
      = link_to edit_group_path(@group), class: "ChatMain__rightBtn" do
        Edit

  .ChatMain__messageList
    = render @messages


  .ChatMain__footer
    = form_with model: [@group, @message], html: {class: "ChatMain__form"}, local: true do |f|
      .ChatMain__inputBox
        = f.text_field :content, class: "ChatMain__inputBox--text", placeholder: 'type a message'
        = f.label :image, class: "ChatMain__inputBox--image" do
          = icon('far', 'image', class: "ChatMain__inputBox--icon")
          = f.file_field :image, class: "ChatMain__inputBox--file"

      = f.submit 'Send', class: "ChatMain__submit"