.SideBar
  .SideBar__user
    .SideBar__items
      .SideBar__userName
        = current_user.name
      .SideBar__icon
        = link_to new_group_path(current_user), class: "SideBar__icon--edit" do
          =icon('fas', 'edit')
          %span<>
        = link_to edit_user_path(current_user), class: "SideBar__icon--cog" do
          =icon('fas', 'cog')
          %span<>
  .SideBar__groupList
    - current_user.groups.each do |group|
      .SideBar__groupMenu
        = link_to group_messages_path(group) do
          .SideBar__groupName
            = group.name
          .SideBar__groupMessage
            = group.show_last_message